.fc-sun {
  color: #e4606d;
  font-weight: bold;
}

.fc-event-time,
.fc-event-title {
  padding: 0 1px;
  white-space: nowrap;
}

.fc-title {
  white-space: normal;
}

.fc-content {
  color: #000000;
}

.fc-national-holiday {
  border: dashed 1px #ff6161;
  background-color: rgb(227, 180, 182);
  /*opacity:0.5;*/
}

.fc-birthday {
  border: dashed 1px #ffea59;
  background-color: rgb(255, 250, 157);
  /*opacity:0.5;*/
}

#main {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.table {
  font-size: 10px;
}

.slcOwnstyle {
  font-size: smaller;
}

.lb-sm {
  font-size: 10px;
}

.lb-md {
  font-size: 14px;
}

.lb-lg {
  font-size: 18px;
}

.edit {
  content: url("../img/edit24.png");
}

.canceledit {
  content: url("../img/cancel24.png");
}

.add {
  content: url("../img/add24.png");
}

.added {
  content: url("../img/added24.png");
}

.numeracion {
}

.menu-opciones {
  position: fixed;
  margin-left: 1rem;
}

.net-box {
  position: relative;
  border: solid 0.5px #94c5c5;
  border-radius: 5px;
  background-color: rgba(254, 255, 255, 0.92);
  margin-bottom: 5px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.net-box-header {
  display: block;
  padding: 10px;
  position: relative;
  overflow: hidden;
  border-bottom: inset;
}
.net-box-title {
  font-weight: bold;
  float: left;
}
.net-box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

body {
  background-image: url("../img/coffee4.png");
  background-repeat: repeat;
}

[data-toggle="collapse"] .fa:before {
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

.btn-link {
  color: #17a2b8;
}

.box-releases {
  height: 65vh;
  overflow-y: scroll;
  margin-bottom: 25px;
}

#scroll-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

#scroll-style::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

#scroll-style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    top,
    #17a2b8 0%,
    #bfe8f9 50%,
    #9fd8ef 51%,
    #17a2b8 100%
  );
}

.wide {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-image:url('../img/banner_quello.png');
  background-size:cover;
}

.wide img {
  width:100%;
}

.logo {
  color:#fff;
  font-weight:800;
  font-size:14pt;
  padding:25px;
  text-align:center;
}

.line {
  padding-top:20px;
  white-space: pre-wrap;
  overflow:hidden;
  text-align:center;
}

fieldset{
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 0.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}

legend{
  font-size: 0.8em !important;
  font-weight: bold !important;
  text-align: left !important;
  width:auto;
  padding:0 10px;
  border-bottom:none;
}

#slcProcedencia .dropdown-menu{
  font-size: 0.8em;
}

#slcProcedencia .selected-tag{
  font-size: 0.8em;
}

.field-fecha input{
  font-size: 10px;

}

.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.fancyTab1 {
	text-align: center;
  background-color: #eee;
	box-shadow: 0 0 0 1px #ddd;
	top:15px;	
  transition: top .2s;
}

.fancyTab.active {
  top:0;
  transition:top .2s;
}

.whiteBlock {
  display:none;
}

.fancyTab.active .whiteBlock {
  display:block;
  height:2px;
  bottom:-2px;
  background-color:#fff;
  width:99%;
  position:absolute;
  z-index:1;
}

.fancyTab1 a {
	font-family: 'Source Sans Pro';
	font-size:1.65em;
	font-weight:300;
  transition:.2s;
  color:#333;
}

.fancyTab .hidden-xs {
  white-space:nowrap;
}

.fancyTabs {
	border-bottom:2px solid #ddd;
  /* margin: 15px 0 0; */
}

li.fancyTab a {
  padding-top: 15px;
  top:-15px;
  padding-bottom:0;
}

li.fancyTab.active a {
  padding-top: inherit;
}

.fancyTab1 .fa {
  font-size: 40px;
	width:100%;
	padding: 15px 0 5px;
  color:#666;
}

.fancyTab.active .fa {
  color: #cfb87c;
}

.fancyTab1 a:focus {
	outline:none;
}

.fancyTabContent {
  border-color: transparent;
  box-shadow: 0 -2px 0 -1px #fff, 0 0 0 1px #ddd;
  padding: 30px 15px 15px;
  position:relative;
  background-color:#fff;
}

.nav-tabs > li.fancyTab.active > a, 
.nav-tabs > li.fancyTab.active > a:focus,
.nav-tabs > li.fancyTab.active > a:hover {
	border-width:0;
}

.nav-tabs > li.fancyTab1:hover {
	background-color:#f9f9f9;
	box-shadow: 0 0 0 1px #ddd;
}

.nav-tabs > li.fancyTab.active:hover {
  background-color:#fff;
  box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
}

.nav-tabs > li.fancyTab1:hover a {
	border-color:transparent;
}

.nav.nav-tabs .fancyTab a[data-toggle="tab"] {
  background-color:transparent;
  border-bottom:0;
}

.nav-tabs > li.fancyTab1:hover a {
  border-right: 1px solid transparent;
}

.nav-tabs > li.fancyTab > a {
	margin-right:0;
	border-top:0;
  padding-bottom: 30px;
  margin-bottom: -30px;
}

.nav-tabs > li.fancyTab {
	margin-right:0;
	margin-bottom:0;
}

.nav-tabs > li.fancyTab:last-child a {
  border-right: 1px solid transparent;
}

.nav-tabs > li.fancyTab.active:last-child {
  border-right: 0px solid #ddd;
	box-shadow: 0px 2px 0 0px #fff, 0px 0px 0 1px #ddd;
}

.fancyTab:last-child {
  box-shadow: 0 0 0 1px #ddd;
}

.tabs .nav-tabs li.fancyTab.active a {
	box-shadow:none;
  top:0;
}


.fancyTab.active {
  background: #fff;
	box-shadow: 1px 1px 0 1px #fff, 0 0px 0 1px #ddd, -1px 1px 0 0px #ddd inset;
  padding-bottom:30px;
}

.arrow-down {
	display:none;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 22px solid #ddd;
  position: absolute;
  top: -1px;
  left: calc(50% - 20px);
}

.arrow-down-inner {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 12px solid #fff;
  position: absolute;
  top: -22px;
  left: -18px;
}

.fancyTab.active .arrow-down {
  display: block;
}

@media (max-width: 1200px) {
  
  .fancyTab .fa {
  	font-size: 36px;
  }
  
  .fancyTab .hidden-xs {
    font-size:22px;
	}
		
}
	
	
@media (max-width: 992px) {
    
  .fancyTab .fa {
  	font-size: 33px;
  }
    
  .fancyTab .hidden-xs {
  	font-size:18px;
    font-weight:normal;
  }
		
}
	
	
@media (max-width: 768px) {
    
  .fancyTab > a {
    font-size:18px;
  }
    
  .nav > li.fancyTab > a {
    padding:15px 0;
    margin-bottom:inherit;
  }
    
  .fancyTab .fa {
    font-size:30px;
  }
    
  .nav-tabs > li.fancyTab > a {
    border-right:1px solid transparent;
    padding-bottom:0;
  }
    
  .fancyTab.active .fa {
    color: #333;
	}
		
}

.carousel-indicators {
	left: 0;
	top: auto;
  bottom: -40px;

}

.carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.carousel-indicators .active {
background: #707070;
}